body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h2 {
    text-align: center;
    color: #0071FF;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: 500;
    color: #333;
    margin-bottom:3%;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #0071FF;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005DD1;
}
textarea{
    resize:none;
}
input:focus{
  outline: none;
  box-shadow: 0 0 10px 1px #0071FF;
  border: none;
}
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    input,
    textarea {
        padding: 8px;
    }

    button {
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 90%;
    }
}
